*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg{
background-image: url("../img/nairobi-3\ 1.png");
background-size: 100% 100%;
min-height: 589px;
background-repeat: no-repeat;
}
nav{
  display: flex;
  margin:0 ;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0px;
  top: 0px;
  background: rgba(40,60,91,0.7);
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  
}
nav>ul>li>a{
  text-transform: uppercase;
  margin-right: 0px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  
}
li{
  justify-content: space-between;
  padding-right: 200px;
  padding-top: 30px;
}
.buy-body{
  padding-top: 100px;
  
}
.kings{
width: 448px;
height :510px;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
border-radius: 10px;
padding-bottom: 18px;

}
.venus{
  width: 448px;
height :510px;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
border-radius: 10px;

}
.simba{
  width: 448px;
height :510px;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
border-radius: 10px;

}
.karama{
  width: 448px;
height :510px;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
border-radius: 10px;

}
.sitalli{
  width: 448px;
height :510px;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
border-radius: 10px;
}
.oyster{
  width: 448px;
height :510px;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
border-radius: 10px;
}
.njenga{
  width: 448px;
height :510px;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
border-radius: 10px;

}
.malik{
  width: 448px;
height :510px;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
border-radius: 10px;

}
.jamia{
  width: 448px;
height :510px;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
border-radius: 10px;
}
